cluster.name: gary
node.name: {{ inventory_hostname }}
node.attr.rack: {{ inventory_hostname }}
path.data: /app/el/data
path.logs: /app/el/log
network.host: {{ ansible_ssh_host }}
network.publish_host: {{ ansible_ssh_host }}
http.port: 9200
discovery.zen.ping.unicast.hosts: ["elk2", "elk3", "elk4"]
discovery.zen.fd.ping_timeout: 10s
discovery.zen.minimum_master_nodes: 2
xpack.monitoring.collection.enabled: true
{# xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true #}
bootstrap.memory_lock: true
cluster.initial_master_nodes:
  - elk2
  - elk3
  - elk4
