cluster.name: gary
node.name: {{ inventory_hostname }}
node.attr.rack: {{ inventory_hostname }}
path.data: /app/el/data
path.logs: /app/el/log
network.host: {{ ansible_ssh_host }}
network.publish_host: {{ ansible_ssh_host }}
http.port: 9200
discovery.zen.ping.unicast.hosts: ["elk2", "elk3", "elk4"]
discovery.zen.fd.ping_timeout: 10s
discovery.zen.minimum_master_nodes: 2
xpack.monitoring.collection.enabled: true
cluster.initial_master_nodes:
  - elk2
  - elk3
  - elk4
{# ---
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
discovery.seed_hosts: ["1.1.1.31", "1.1.1.32", "1.1.1.33"] #}
{# cluster.name: elasticsearch #}
{# node.name: {{ inventory_hostname }}
node.attr.rack: {{ inventory_hostname }}
path.data: /app/el/data
path.logs: /app/el/log
network.host: {{ ansible_ssh_host }}
http.port: 9200
discovery.zen.ping.unicast.hosts: ["elk2", "elk3", "elk4"]
discovery.zen.minimum_master_nodes: 2
xpack.monitoring.collection.enabled: true
http.netty.maxInitialLineLength: 8192 #}
{# cluster.name: tu-netmon-test
node.name: tdc1dapp0002
node.attr.rack: tdc1dapp0002
path.data: /app/el/data
path.logs: /app/el/log
network.host: 10.202.16.14
http.port: 9200
discovery.zen.ping.unicast.hosts: ["tdc1dapp0002", "tdc1dapp0003", "tdc2dapp0004", "tdc1dapp0004" ]
discovery.zen.minimum_master_nodes: 2
xpack.monitoring.collection.enabled: true
http.netty.maxInitialLineLength: 8192 #}